* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header{
    background-color: darkgray;
    padding: 16px;
    justify-content: space-between;
}

header .container{
    justify-content: space-between;
    align-items: center;
    display:flex
    
}

header li{
    display: inline;
}

header li a{
    align-items: center;
    color: black;
    justify-content: space-between;
    
}

.container {
    width: 100%;
    height: 100%;
    margin: 0 auto 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img{
    height: 180px;
}

.articles article {
    width: 30%;
}

section{
    padding: 10px;
}

section h2 {
    margin-bottom: 10px;
}

section h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.articles article p
.articles article a{
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3{
    font-size: 24px;
}

section h2{
    font-size: 32px;
}

#sports{
    background-color:peachpuff
}

#economy{
    background-color:khaki
}

#tech{
    background-color:lightblue
}

#saude{
    background-color: rgb(111, 224, 120);
}

.articles article a{
    background-color: blue;
    color: aliceblue;
    padding: 8px;
    display: inline-block;
}

#sports a{
    background-color: rgb(30, 153, 19);
    color: aliceblue;
    padding: 8px;
    display: inline-block;
}

#economy a{
    background-color: rgb(44, 20, 180);
    color: aliceblue;
    padding: 8px;
    display: inline-block;
}

#tech a{
    background-color: rgb(194, 47, 174);
    color: aliceblue;
    padding: 8px;
    display: inline-block;
}

#saude a{
    background-color: rgb(212, 20, 20);
    color: aliceblue;
    padding: 8px;
    display: inline-block;
}